body{
	margin:0;
	padding: 0;
	background-color: #e5e8e6;
	font-family: 'Open Sans', sans-serif;
	color: #506784;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}

}
._dash-undo-redo {
  display: none;
}

.app-title{
    color:white;
    background-color: #522c30;
    font-size:3rem;
    letter-spacing:-.1rem;
    vertical-align:middle
}

.header{
    margin:0px;
    background-color: #522c30;
    height:70px;
    color:white;
    padding-right:2%;
    padding-left:2%
}

td{
    text-align: left;
    padding: 0px;
}
table{
    border: 1px;
    font-size:1.3rem;
    width:100%;
    font-family:Ubuntu;
}

.tabs_div{
    margin:0px;
    height:30px;
    font-size:13px;
    margin-top:1px
}
